/* style.css */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");

html {
  font-family: "Montserrat", "sans-serif";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    to right,
    rgb(55, 65, 81),
    rgb(17, 24, 39),
    rgb(0, 0, 0)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxes {
    display: flex;
    gap: 100px;    
    transition: all 0.5s ease-in-out;
}

.boxes div{
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

.boxes div:hover {
    transform: scale(105%);
}

.tooltip{
    position: absolute;
    min-width: 180px;
    padding: 30px 15px;    
    transform: translateY(-140%);
    border-radius: 15px;  
    background: rgb(68, 64, 128);  
    color: white;

}

.tooltip::after{
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    background: inherit; 
    bottom: -6px;
    left: 13px;
    transform: rotate(45deg);
}


.red {
    background: rgb(228, 99, 99);
}

.green {
    background: rgb(101, 211, 101);
}

.blue {
    background: rgb(76, 76, 235);
}
